@model NewMovie //This is the model that I want to use in this view. You can only have one Model per form

<h1>Thank You,</h1>
<p>Your movie (@Model.Title) has been submitted. Please allow for at least 3-27 business days for processing</p>