@{
    ViewData["Title"] = "Calculator";
}
<script src="~/js/calculator.js"></script>
<h1>@ViewData["Title"]</h1>

<p class="lead">Calculate what it would cost for me to analyze your movie!</p>

<label for="hours">Enter Hours:</label>
<input type="number" id="hours">

<label for="rate">Hourly Rate ($):</label>
<input type="text" id="rate" value="127.60" readonly>

<label for="result">Result ($):</label>
<input type="text" id="result" readonly>

<button id="calculateBtn">Calculate</button>