@{
    ViewData["Title"] = "Movies";
}

<!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('ferris-wide.jpg')">
            <div class="text-center my-5">
                <h1 class="text-white display-4">Movies and Magic</h1>
            </div>
        </header>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>For the Love of the Craft</h2>
                        <p class="lead">As an amateur film enthusiast, my eclectic taste and appreciation for the whimsical and the epic reflect a deep understanding of the diverse facets of filmmaking. Whether it's the rebellious spirit of Ferris, the rhythmic elegance of Baby Driver, or the epic narratives of fantasy realms, my cinematic journey is a vibrant tapestry woven with emotions, storytelling, and visual artistry.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Image element - set the background image for the header in the line below-->
        <div class="py-5 bg-image-full" style="background-image: url('babydriver011.jpg')">
            <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
            <div style="height: 20rem"></div>
        </div>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Artistic Wonders</h2>
                        <p class="lead">Barring the moral downfalls by certain actors in the show, Edgar Wright's "Baby Driver" has entranced me with its rhythmic symphony, where every beat aligns seamlessly with the narrative, creating an electrifying dance of visuals and music. The meticulous choreography of action sequences set to a pulsating soundtrack showcases the power of cinematic craftsmanship, and it's a testament to my appreciation for films that masterfully blend storytelling with technical prowess.</p>
                        <p class="lead">Simultaneously, the epic sagas of "Lord of the Rings" and "Star Wars" have carved out a special realm in my cinematic universe. The sprawling landscapes, mythical creatures, and epic battles of Middle-earth and galaxies far, far away have ignited my imagination and instilled a profound sense of wonder. These timeless classics, with their rich world-building and iconic characters, form the cornerstone of my fascination with the grandeur and spectacle that cinema can offer.</p>
                    </div>
                </div>
            </div>
        </section>
